body {
    padding-top: 5rem;
}

button {
	border-radius: 12px;
	background-color: #00D000;
	font-size: 16px;
	color: white;
	padding: 12px 28px;
	margin-top: 30px;
}

#outer {
	background-color: #F8F8F8;
	height: 900px;
	padding: 12px 28px;
}

#inner {
	height:100px;
	padding: 12px 28px;
	width: 450px;
	margin-left: 300px;
	background-color: white;
}

h1 {
	margin-left: 300px;
}

#box1 {
	height: 100px;
	width: 100px;
	float: left;
	text-align: center;
	margin-left: 400px;
}

#box2 {
	height: 100px;
	width: 100px;
	float: left;
}

#box3 {
	height: 100px;
	width: 100px;
	float: left;
	text-align: center;
	margin-right: 350px;
}
